/****************REGOLE GENERALI*********************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************************REGOLE MAIN******************/
section{
    width: 40%;
    margin: 100px auto;
    
}

.container{
    position: relative;
    margin: 0 auto;
   
}

 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;  
}

.item{
    display: none;
}

.btn {
    background-color: rgb(129, 122, 122);
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.fa-solid{
    font-size: 40px;
   
}

.next{
    position: absolute;
    top: 10px;
    left: 48%;
    cursor: pointer;
    
    
}

.prev{
    position: absolute;
    bottom: 10px;
    left: 48%;
    cursor: pointer;

}

.active{
    display: block;
}